body {
  background:
    url("https://images.ctfassets.net/s5n2t79q9icq/7dVnqPcS85eVUv6cDJ5cOb/05d2d8018fca11fe20180149cb40bbfe/arenadraftbg.jpeg?q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
